<strong>Olá, {{ deliveryman }}</strong>
<p>Um nova encomenda foi cadastrada para você, confira os detalhes abaixo:</p>
<p>
  <strong>Produto:</strong> {{ product }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <strong>Destinatário: </strong> Rua: {{ street }}, {{ number }} na cidade de: {{ city }}
  no estado de {{ state }} com o cep {{ cep }} e complemento: {{ complement }} <br />
  <br />

  <small>
    O produto já está disponível para a retirada.
  </small>
</p>